<div class="container-fluid">
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-9">
      <img class="img-full" src="{{image.url}}">
    </div>
    <div class="col-md-3" style="padding-top: 10px;">
      <div class="panel panel-primary">
        <div class="panel-heading">Uploaded by</div>
        <div class="panel-body">{{image.uploader}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Tags</div>
        <div class="panel-body">{{image.tags}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Event</div>
        <div class="panel-body">
          {{image.event.name}}
          {{image.event.datetime}}
          {{image.event.location.textual}}
        </div>
      </div>
    </div>
  </div>
</div>
