<div class="container-fluid">
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-9">
      <img class="img-full" src="{{image.url}}">
    </div>
    <div class="col-md-3" style="padding-top: 10px;">
      <div class="panel panel-primary">
        <div class="panel-heading">Uploaded by</div>
        <div class="panel-body">{{image.uploader}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Tags</div>
        <div class="panel-body">{{image.tags}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Event</div>
        <div class="panel-body">
          {{image.event.name}}
          {{image.event.datetime}}
          {{image.event.location.textual}}
        </div>
      </div>
      <button type="button" class="btn btn-primary pull-right" id="edit-btn" data-toggle="modal" data-target="#myModal">Edit</button>
    </div>
  </div>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <form action="/edit" method="/post">
          <div class="modal-header">
            <h4 class="modal-title">Edit Image Properties</h4>
          </div>
          <div class="modal-body">
            <p>Tags</p>
            <input type="text" class="form-control" name="tags" value="{{image.tags}}"/>
            <p style="padding-top: 20px;">Event Name</p>
            <input type="text" class="form-control" name="eventname" value="{{image.event.name}}"/>
          </div>
          <div class="modal-footer">
            <input style="display: none" name="imagename" value="{{image.name}}"/>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <input class="btn btn-success" type="submit" name="submit" data-dismiss="modal" value="Save" />
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
